@model EmployeesApp.Models.Karyawan

@{
    ViewData["Title"] = "Edit Data";
}

<h2 class="mb-3">Aplikasi Data Pribadi - Edit Data</h2>

<div class="card p-4">
    <form asp-action="Edit" method="post">

        <input type="hidden" asp-for="NIK" />

        <div class="mb-3">
            <label class="form-label">Nama Lengkap</label>
            <input asp-for="NamaLengkap" class="form-control" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Jenis Kelamin</label> <br />
            <input type="radio" asp-for="JenisKelamin" value="Laki-laki" /> Laki-laki
            <input type="radio" asp-for="JenisKelamin" value="Perempuan" class="ms-3" /> Perempuan
        </div>

        <div class="mb-3">
            <label class="form-label">Tanggal Lahir</label>
            <input asp-for="TanggalLahir" type="date" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Alamat</label>
            <textarea asp-for="Alamat" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Negara</label>
            <select asp-for="Negara" class="form-control">
                <option>Indonesia</option>
                <option>Malaysia</option>
                <option>Singapura</option>
                <option>Thailand</option>
                <option>Vietnam</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Ubah</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Kembali</a>

    </form>
</div>